
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f4;
}
.product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.nav-container{
    background-color: black;
    width: 100%;
    list-style: none;
    display: flex;
    padding: 2rem;
    margin-bottom: 2rem;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
}
.item{
    color:coral;
    font-size: 1.8rem;
    font-weight: bold;
}
.product-card{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s ease;
}
.product-image img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.product-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    flex-grow: 1;
}
.product-title{
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}
.product-description{
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
    flex-grow: 1;
}
.product-price{
    fon-size: 1.2rem;
    font-weight: bold;
    color: #2ecc71;
    margin-bottom: 20px;
}
.buy-btn{
    color: white;
    background-color: #3498db;
    padding: 10px;
    border: none;
    border-bottom: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.buy-btn:hover{
    background-color: #2ecc71;
}